<% if @user_ans==@answer.ans %>
        
        <div class="correct">
 
        <h5>　</h5>
        <h4>問題<%= @quiz.id %>　<%= @quiz.name %></h4>
        <h5>　</h5>
        <p><%= @quiz.img%></p>
        <h5>　</h5>
        <p><%= @quiz.text %></p>
        <h5>　</h5>
        <div class="midle">
        <h5>　</h5>
        <div><%= @user_ans%></div>
        <h5>　</h5>
        <h3>正解</h3>
        <h5>　</h5>
        <%= form_tag("/quiz/#{@quiz.id}/comments", method: :post) do %>
            <input type='text' name='text' >
            
            <input type='submit' value='コメントする'>
            <input type='hidden' name='id' value= "<%= @quiz.id %>">
        <% end %>
        
        </div>
        
        
        
        
        
        
        
        
    <% else %>
               <div class="correct">
 
        <h5>　</h5>
        <h4>問題<%= @quiz.id %>　<%= @quiz.name %></h4>
        <h5>　</h5>
        <p><%= @quiz.img%></p>
        <h5>　</h5>
        <p><%= @quiz.text %></p>
        <h5>　</h5>
        <div class="midle">
        <h5>　</h5>
        <div><%= @user_ans%></div>
        <h5>　</h5>
        <h3>不正解</h3>
        <h5>　</h5>
        <%= link_to '問題へ' , "/quiz",  mehod: :get %>
        <div><%= @answer.ans%></div>
        
        <%= form_tag("/quiz/#{@quiz.id}/comments", method: :post) do %>
            <input type='text' name='text' >
            
            <input type='submit' value='コメントする'>
            <input type='hidden' name='id' value= "<%= @quiz.id %>">
        <% end %>
        
        
        </div>
<% end %>