
<%= stylesheet_link_tag    'quiz/index', media: 'all' %>
<%
    genre=["なぞなぞ","数学","科学","ライフスタイル","アニメ・ゲーム","スポーツ","その他"]
    math=@genre.to_i

%>
<h5>　</h5>
<h5>　</h5>
<div class="contents_row">
    <h3>　</h3>
    <h3>　　皆でクイズに答えよう</h3>
    <div class='line'></div>
    
    <div class='float'>
        <span>　</span>
    　<%= paginate(@quiz) %>
    </div>
    
    <h5>　</h5>
    <div class="clearfix">  
        
            <% @quiz.each do |quiz| %>
            
                <h5>　</h5>
                <h4>　問題<%= quiz.id %>　<%= quiz.name %>　ジャンル：<%=genre[quiz.genre.to_i]%></h4>
                
                <h5>　</h5>
                <p>　<%= quiz.text %></p>
                <h5>　</h5>
                <div class="shutudaisha">出題者：<%= quiz.user.name %>さん</div>
              
                <h5>　</h5>
                <span>　</span><%= image_tag 'tree-stars.jpg', :size => '60x24' %>
                    <p><span>　　</span><%= quiz.stars.count %></p>
                <%= link_to '　回答する', "/quiz/#{quiz.id}/nummber", method: :get %> 
                <div class="marginline">
                    
                </div>
                <div class="outline">
                </div>
            <% end %>
          
            
        </div>
</div>
    