<h5>　</h5>
<h4>　　クイズ回答</h4>
<h5>　</h5>
<div class="contents_row">
 
        <h5>　</h5>
        <h4>問題<%= @quiz.id %>　<%= @quiz.name %></h4>
        <h5>　</h5>
        <p><%= @quiz.img%></p>
        <h5>　</h5>
        <p><%= @quiz.text %></p>
        <h5>　</h5>
        <div class="midle">
            <div class="shutudaisha">出題者<%= @quiz.user_id %></div>
            <div class="hoshi">星</div>
            <h5>　</h5>
        </div>
        <p>半角数字orひらがなで回答して下さい</p>
        <%= form_tag("/quiz/#{@quiz.id}/answer", method: :post) do %>
            <input type='text' name="user_ans" raws="25">
            <input type="submit" value="回答する">
            <input type='hidden' name='id' value="<%= @quiz.id %>">
            
        <% end %>
        <div class=comment>
            <% if @comments %>
                <% @comments.each do |comment| %>
                 <h4><%= comment.name%>　</h4>
                 <p><%= comment.text%></p>
                 
                 <div class=comment_line>
                 </div>
                <% end %>
             
            <% end %>
            
        </div>
      
        <div class="marginline">
            
        
        <div class="outline">
        </div>

    
</div>